body{
  margin: 0%;
  background-color: black;
  color: white;
  text-align: center;
}
input{
  zoom: 2;
  outline: none;
  border: solid white;
  border-radius: 2px;
  text-align: center;
}
button{
  zoom: 2;
  margin-top: 17px;
  border: solid white;
  border-radius: 5px;
  background-color: lightgray;
}
span{
  color: red;
}
.percent{
  color: lime;
}